.todoItem{
    display: flex;
    border: solid black 2px;
    position: relative;
    border-radius: 10px;
    width: 40rem;
    flex-direction: row;
    padding: .5rem;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.actionButtons{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 6rem;
    justify-content: center;
}

.actionButtons > button{
    margin: .2rem;
    border-radius: 10px;
}

.todoDescription{
    flex-grow: 2;
    position: relative;
    /* overflow-y: auto; */
    text-overflow: clip;
    max-width: 200px;
    min-width: 100px;
    color: grey;
    height: 3rem;
}

.actionButtons > :nth-child(3){
    background-color: coral;
}
.actionButtons > :nth-child(1){
    background-color: lightseagreen;
}

.texts{
    display: flex;
    flex-direction: column;
    position: inline-block;
    height: 100%;
    width: 50%;
    /* border: solid green; */
}