.itemDescription{
    display: flex;
    position: relative;
    width: 100%;
}

.descriptionText{
    position: relative;
    height: 2.2rem;
    margin: 0;
    padding:.2rem;
    overflow-y:hidden;
    overflow-x:hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.descriptionText.expanded{
    height: auto;
}
